/**
* Font Family: euclidCircularA
* URL: https://font.download/font/euclid-circular-a
*/

@font-face {
  font-family: euclidCircularA;
  font-style: normal;
  font-weight: 400;
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Regular.ttf)
    format("truetype");
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Regular.woff)
    format("woff");
}
@font-face {
  font-family: euclidCircularA;
  font-style: italic;
  font-weight: 400;
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Italic.ttf)
    format("truetype");
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Italic.woff)
    format("woff");
}
@font-face {
  font-family: euclidCircularA;
  font-style: normal;
  font-weight: 300;
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Light.ttf)
    format("truetype");
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Light.woff)
    format("woff");
}
@font-face {
  font-family: euclidCircularA;
  font-style: italic;
  font-weight: 300;
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Light-Italic.ttf)
    format("truetype");
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Light-Italic.woff)
    format("woff");
}
@font-face {
  font-family: euclidCircularA;
  font-style: normal;
  font-weight: 500;
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Medium.ttf)
    format("truetype");
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Medium.woff)
    format("woff");
}
@font-face {
  font-family: euclidCircularA;
  font-style: italic;
  font-weight: 500;
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Medium-Italic.ttf)
    format("truetype");
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Medium-Italic.woff)
    format("woff");
}
@font-face {
  font-family: euclidCircularA;
  font-style: normal;
  font-weight: 600;
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-SemiBold.ttf)
    format("truetype");
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-SemiBold.woff)
    format("woff");
}
@font-face {
  font-family: euclidCircularA;
  font-style: italic;
  font-weight: 600;
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-SemiBold-Italic.ttf)
    format("truetype");
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-SemiBold-Italic.woff)
    format("woff");
}
@font-face {
  font-family: euclidCircularA;
  font-style: normal;
  font-weight: 700;
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Bold.ttf)
    format("truetype");
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Bold.woff)
    format("woff");
}
@font-face {
  font-family: euclidCircularA;
  font-style: italic;
  font-weight: 700;
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Bold-Italic.ttf)
    format("truetype");
  src: url(../public/fonts/euclidCircularA/Euclid-Circular-A-Bold-Italic.woff)
    format("woff");
}
