@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --display-image-mode-light: block;
  --display-image-mode-black: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --display-image-mode-light: none;
    --display-image-mode-black: block;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
    )
    rgb(var(--background-start-rgb));
}

#logo-github-light {
  display: var(--display-image-mode-light);
}

#logo-github-black {
  display: var(--display-image-mode-black);
}

#image-what-is-hologram-light {
  display: var(--display-image-mode-light);
}

#image-what-is-hologram-dark {
  display: var(--display-image-mode-black);
}

#image-proof-of-trust-light {
  display: var(--display-image-mode-light);
}

#image-proof-of-trust-dark {
  display: var(--display-image-mode-black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}