@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --display-logo-git-hub-white: block;
  --display-logo-git-hub-black: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --display-logo-git-hub-white: none;
    --display-logo-git-hub-black: block;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
    )
    rgb(var(--background-start-rgb));
}

#logo-github-white {
  display: var(--display-logo-git-hub-white);
}

#logo-github-black {
  display: var(--display-logo-git-hub-black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}