{{- $icon := .Get "icon" | default "fa-solid fa-exclamation-triangle" -}}
{{- $iconColor := .Get "icon_color_class" | default "text-yellow-600" -}}
{{- $background := .Get "background_class" | default "bg-yellow-50" -}}
{{- $border := .Get "border_class" | default "border-yellow-400" -}}
{{- $rounded := .Get "rounded_class" | default "rounded-lg" -}}
<div class="{{ $background }} border-l-4 {{ $border }} p-6 {{ $rounded }}">
  <div class="flex items-start">
    <i class="{{ $icon }} {{ $iconColor }} text-xl mr-4 mt-1"></i>
    <div class="text-gray-700 leading-relaxed">
      {{ .Inner | markdownify | safeHTML }}
    </div>
  </div>
</div>
